.container {
  margin-top: 60px;
  min-height: calc(100vh - 95px);
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
}
