.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.footer {
  background-color: #222;
  height: 35px;
  padding: 20px;
  color: white;
  padding: 0 10px;
}
